<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wiki Child</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- JS, Popper.js, and jQuery
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<script>
    function cargarDescripcion(uri,nombre) {
        $("#descripcion").empty();
        $("#peso").empty();
        $("#nombre").empty();
        $("#nombre").append(nombre);
        var urlBase = "http://localhost:8080/";
        var ruta = urlBase + "manifero/"+uri;
        console.log("URI COMPLETA :"+ruta)
        $.get(ruta,
            function (res) {
                document.getElementById("conte").style.display = 'block';
                console.log(Object.keys(res));
                console.log("Esta es descrpcion"+res.descripcion)
                $("#descripcion").append(res.descripcion);
                $("#peso").append(res.peso);
                document.getElementById("img").src = res.imagen;
            });
    }
</script>
<h1 style="text-align: center">WIKI CHILD</h1>
<p id="listaManiferos" th:object="${listaManiferos}"></p>
<div class="container">
    <div class="row">
        <div class="col-lg-3" style="overflow-y: scroll; height: 700px">
            <table class="table table-bordered table-hover table-striped table-hidden">
                <thead>
                <tr>
                    <th style="text-align: center">Animales Mamíferos</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="manifero : ${listaManiferos}">

                    <td><a th:attr="onclick=|cargarDescripcion('${manifero.uri}','${manifero.nombre}')|" ><p th:text="${manifero.nombre}"></p></a></td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
        <div style="display: none" class="col-lg-6" id="conte" >
            <h3 style="text-transform: uppercase;text-align: center" id="nombre"></h3>
            <p style="text-align: center"><img id="img"/></p>
            <h4>Descripción</h4>
            <p id="descripcion"></p>
            <h4>Peso</h4>
            <p id="peso"></p>
        </div>
    </div>
</div>
</body>
</html>